
h1 {
    background-color: green;
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
}

p {
    margin-block: auto;
    padding-block: 25px;
    background-color:cornflowerblue;
    text-align: center;
    border: 5px solid black;
}

ol li {
    list-style-type: circle;
    margin: 15px, 15px, 15px, 15px;
}